body{
    margin: 0;
}

.layout{
    display: grid;
    grid-template-rows: 95px auto 95px;
}

.header{
    display: flex;
    justify-content: center;
    z-index: 10;
    box-shadow: 0px 6px  2px -2px rgba(192, 192, 192, 0.6);
}

.main{
    background-color: rgb(238, 238, 238);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.main .addBook{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    align-self: center;
    margin-top: 25px;
}

.addBook:hover{
    background-color: lightgray;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 100px;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.main .card{
    background-color: white;
    z-index: 10;
    box-shadow: 6px 6px 2px -2px rgba(192, 192, 192, 0.6);
    height: 280px;
    width: 310px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 1.5fr;
    padding: 10px 20px;
}

.card > div{
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
    display: grid;
    place-items: center;
}

.card .read{
    background-color: rgb(144, 238, 144);
    border-radius: 10px;
    margin: 10px 10px;
    border: 0;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.read:hover{
    background-color: rgb(114, 199, 114);
}

.read:active{
    top: 2px;
    left: 1px;
    box-shadow: none;
}
.card .unread{
    background-color: rgb(240, 128, 128);
    border-radius: 10px;
    margin: 10px 10px;
    border: 0;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    position: relative;
}

.unread:hover{
    background-color: rgb(224, 95, 95);
}

.unread:active{
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.deleteButton{
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
    margin: 10px 10px;
    border:0;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.deleteButton:hover{
    background-color: rgb(211, 211, 211);
}

.deleteButton:active{
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

.footerContent{
    display: flex;
    align-items: center;
}

.footerContent a{
    margin-left: 20px;
}

#box{
    visibility: hidden;
    position: fixed;
    background-color: whitesmoke;
    z-index: 100;
    width: 300px;
    height: 400px;
    padding: 20px;
}

#box form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#box form > div{
    display: flex;
    justify-content: space-between;
}

#box label{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Arvo', serif;
}

#box form input[type="submit"]{
    color: white;
    font-size: 18px;
    background-color: #008CBA;
    border:0;
    width: 120px;
    height: 50px;
    border-radius: 12px;
    align-self: center;
}

.dimmer{
    background-color: #000;
    position: absolute;
    opacity: 0.5;
    top: 0;
    z-index: 99;
}